*   {
    margin: 0;
}

h1{
    font-family: 'Gill Sans', sans-serif;
    padding-bottom: 3%;
}

aside{
    font-family: 'Gill Sans', sans-serif;
}

.input-group{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    /* display: flex; */
    gap: 1.4rem;
    margin: 10px;
    }

aside{
    text-align: center;
}

button{
    background-color: rgb(23, 206, 145);
    color: aliceblue;
    border: none;
    text-transform: capitalize;
    width: 80%;
    padding: 10px;
    margin: 02%;
    border-radius: 7px;
}

footer{
    font-size: 20px;
    width: 100%;
    margin: 30px 1;
    padding: 20px;
    background-color: rgb(23, 206, 145);
}


footer ul {
    list-style: none;
    display: flex;
    justify-content: left;
}

a{
    color: aliceblue;
    margin: 10px;
}

i{
    margin: 100px;
}

.page-grid h1 {
    font-size: 3.7rem;
}

.page-grid h1 p + p {
    color: rgb(23, 206, 145);
}

.page-grid {
    height: 100vh;
}

main{
    grid-area: title;
}

aside{
    grid-area: login;
}

footer{
    grid-area: footer;
}